.nav-items > ul {
  list-style-type: none;
}
.header {
  display: flex;
  border: 2px solid black;
  justify-content: space-between;
  align-items: center;
}
.items {
  display: flex;
}

.logo > img {
  width: 100px;
  height: 80px;
}
.nav-items > ul > li {
  margin: 12px;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
}
.logo:hover {
  cursor: pointer;
}
.search {
  margin: 10px;
}
.res-card:hover {
  border: 2px solid black;
  cursor: pointer;
  border-radius: 2rem;
}
.res-card,
.shim-card {
  width: 200px;
  height: 500px;
  padding: 10px;
  margin: 15px;
  background-color: #f0f0f0;
  border-radius: 2rem;
}
.res-img {
  width: 100%;
  border-radius: 2rem;
}
.res-container,
.shim-container {
  display: flex;
  flex-wrap: wrap;
}
.aboutc,
.aboutf {
  border: 3px solid black;
  border-radius: 2 rem;
}
.btnc,
.btnf {
  margin: 20px;
}
.personimage {
  width: 100px;
  height: 100px;
  background-size: cover;
}
